<style>
	.foobar{
		border: 1px solid darkorchid;
		border: 1px solid darkorchid;
		float: left;
		margin-left: -8em;
	}
	.fobar:hover{
		z-index: 999;
	}
	.thumb{
		height: 120px;
		
	}
	.viewer{
		position: fixed;
		top: 0px;
		right: 10px;
		border: 1px solid hotpink;

		height: 100%;

		height: 100%;
		width: auto;
		vertical-align: top;
		display: block;
		margin: 0 auto;
		/*display: none;*/
	}
</style>
<div id="app">
	Series:
	<ul v-if="series">
		<li v-if="!series">waiting for available series... </li>
		<li v-for="serie in series">
			<a v-on:click.prevent="showChapters(serie)" href="/fullTankoubon/{{ serie }}">{{ serie }}</a>
		</li>
	</ul>
	<ul v-if="!series">
		<li>...Not series available yet</li>
	</ul>

	<ul>
		<li v-for="chapters in tankoubon">

			<!-- <small>{{ chapters.name }}</small> -->
			<img 
			v-if="chapters.type === 'folder'" 
			src="/tankoubons/{{ currentTankoubon }}/{{ chapters.name }}/{{ chapters.children[0].name }}" 
			alt="" 
			class="thumb"
			>
			<img
			src="/tankoubons/{{ currentTankoubon }}/{{ chapters.name }}"
			v-else="chapters.type === 'folder'" 
			alt="" 
			class="thumb"
			>

			<ul v-if="chapters.type === 'folder'">
				<li v-for="images in chapters.children">
					<!-- <small>{{ images.name }}</small> -->

					<!-- <a 
						href="/tankoubons/{{currentTankoubon}}/{{chapters.name}}/{{ images.name }}"
							v-on:click.prevent='displayImage("/tankoubons/{{currentTankoubon}}/{{chapters.name}}/{{ images.name }}")'
							> -->
							<img
							v-on:click.prevent='displayImage( "/tankoubons/" 
							+ currentTankoubon 
							+ "/" 
							+ chapters.name 
							+ "/" 
							+ images.name )'

							src="/tankoubons/{{currentTankoubon}}/{{chapters.name}}/{{ images.name }}" 

							alt="/tankoubons/{{currentTankoubon}}/{{chapters.name}}/{{ images.name }}"
							class="thumb"
							>
							<!-- </a> -->
						</li>
					</ul>
				</li>
			</ul>
			
			<div id="alerts">nothing to alert yet</div>

			<img src="{{ currentImageUrl }}" class="paged-image">

			<p>
				{{ tankoubon | json }}
			</p>
		</div>